@media only screen and (max-width: 425px) {
    }
body{
        width: auto;
        font-family: Arial, sans-serif;
        margin: 0;
}
.div{
    display: flex;
    justify-content: space-between;
    height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-bottom-color: #f7f7f7;

}
.img{
    display: flex;
    align-items: center;
    height: 35px;
    width: 194px;
    padding: 10px ;
}
.bars{
    margin-left: 5px;
    display: flex;
    height: 35px;
    width: 35px;
    align-items: center;
    background-color: #F7F7F7;
    color: #848484;
    border:  solid;
    border-color: #ebebeb;
    padding: 5px;
    font-weight: 600;
}
.search{
    margin-right: 5px;
    display: flex;
    height: 35px;
    width: 35px;
    align-items: center;
    background-color: #F7F7F7;
    color: #848484;
    border: .5px solid;
    border-color: #ebebeb;
    padding: 5px;
}
.div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 21px;
}
.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 21px;
    margin-top: -20px;
    
    
    
}
.date{
    
    margin-left: 5px;
}
.right{
    display: flex;
    text-align: right;
    margin-right: 5px;
}
a{
    text-decoration: none;
}
.blue{
    color: #326891;
}
li{
    display: inline;
    list-style-type: none;
    padding-left: 10px;
    
}
#subscribe{
    border-right: .5px solid;
    padding-right: 10px;
    
}
h1{
    margin-bottom: -20px;
    padding: 10px 30px;
}

h3{
    color: #848484;
    padding-left: 30px;
   
   }

.line{
    background-color: #848484;
    margin-top: 20px;
    height: 10px;
 
}
.div3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
img{
    
    width: auto;
}
i{
    color: #326891;
    font-stretch: ultra-expanded;
    padding-left: 10px;
}
    





